<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:installLocation="auto" package="mLearning.Droid">
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21" />
	<application android:theme="@style/MyTheme" android:largeHeap="true" android:debuggable="true" android:hardwareAccelerated="true" android:icon="@drawable/icon" android:label="EduticNow"></application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<permission android:name="mLearning.Droid.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="mLearning.Droid.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

</manifest>